/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: var(--primary-bg);
    color: var(--text-white);
    font-family: var(--font-main);
    line-height: 1.6;
}

a { 
    text-decoration: none; 
    color: white;
    transition: 0.3s; 
}
ul { 
    list-style: none; 
}