:root {
    --primary-bg: #050A30;       
    --secondary-bg: #252953;     
    --accent-green: #39FF14;     
    --text-white: #ffffff;
    --text-grey: #cccccc;
    --font-main: 'Poppins', sans-serif;
    --font-script: 'Pacifico', cursive;
    --font-desc: 'Roboto', sans-serif;

}
