/* deliever.css */
:root {
  /* colors */
  --primary-color: #000538;
  --secondary-color: #06f30a;
  --thirtiary-color: #252953;

  /* fonts */
  --heading: 3.125rem;
  --paragraph-font: 1.5625rem;
  --heading-two: 1.5625rem; 

  /* size */
  --margin: 3.625rem; 
  --margin-top: 2rem; 
  --span-distance: 79.875rem; /* the distance of the whole content except the margin */

  /* font faces */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

/* nav bar */
.nav {
  background-color: var(--thirtiary-color);
  padding: 0.5rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
  margin-left: 3.625rem;
  margin-right: 3.625rem;
}

.logo-div {
  font-family: var(--font-pacifico);
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.menu-div {
  display: flex;
  align-items: center;
  gap: 3.2375rem;
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.menu-list {
  font-weight: bold;
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}
.menu-list:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* hamburger menu */
.hamburger-container {
  position: absolute;
  right: 0;
  top: 1.875rem;
  z-index: 10;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  background-color: transparent;
  border: none;
  padding: 0;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

@media (min-width: 768px) {
  .hamburger-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
/* end of navbar */

/* button and heading one */
.btn-container {
    margin-right: var(--margin);
    margin-left: var(--margin); 
    margin-top: var(--margin-top); 
}
.search-container{
    display: flex; 
    /* background-color: var(--secondary-color);  */
    font-family: var(--font-poppins); 
    font-weight: bold; 
    text-transform: capitalize; 
    height: 6.6875rem; 
}
.btn{
    border: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    color: white;
    font-size: var(--heading-two); 
}
.first-btn{
    background-color: var(--secondary-color);
    width: 33.3%; 
    border-radius: 78px 0 0 78px;  
}
.middle-btn{
    background-color: white; 
    width: 33.3%;
    color: var(--secondary-color);  
}
.last-btn{
    display: flex; 
    align-items: center; 
    background-color: var(--secondary-color);
    width: 33.3%;
    border-radius: 0 78px 78px 0; 
    position: relative; 
}

.search-icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    right: 1.5625rem; 

    width: 4.1875rem; 
    height: 4.1875rem;
    border: 5px solid white; 
    border-radius: 50%;  
}

.heading-one{
    font-size: var(--heading); 
    color: white; 
    font-family: var(--font-poppins); 
    margin-bottom: var(--margin-top); 
}
/* end of button and heading one */


/* hero section */
.hero-container{
    margin-left: var(--margin); 
    margin-right: var(--margin); 
    display: flex; 
    gap: 4.81rem; 
    margin-top: 2rem;  
    margin-bottom: 2rem; 
}
.hero-container img{
    max-width: 100%;  
    height: auto; 
}
.hero-container h1{
    margin: 0; 
}
.hero-container p{
    font-size: var(--heading-two); 
    font-family: var(--font-roboto); 
    font-weigh: light; 
}

.hero-container .btn-container{
    align-self: center; 
    margin: 0; 
}
.hero-container button{
    background-color: var(--thirtiary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 2.38rem; 
    color: var(--secondary-color); 
    font-family: var(--font-pacifico); 
    width: 20.25rem; 
    height: 6.13rem; 
    border-radius: 54px; 
}
.content-container{
    display: flex;
    flex-direction: column; 
    color: white;  
    align-items:flex-start; 
    gap: 2.2rem; 
}
/* end of hero section */

/* break line */
.break-line{
    margin-right: var(--margin);
    margin-left: var(--margin); 
    margin-top: var(--margin-top); 
    background-color: white;  
    height: 0.19rem; 
    margin-bottom: 2rem; 
}

/* heading */
.header{
    margin-left: var(--margin); 
}
/* top 5 section */
.top-five-container{
    display: grid; 
    gap: 1rem;
    grid-template-columns: 33.33% 33.33% 33.33%; 
    margin-right: var(--margin);
    margin-left: var(--margin);
}
#top-5 h1{
    margin-left: var(--margin); 
}
.card-container{
    display: flex; 
    flex-direction: column; 
    color: white; 
    background-color: var(--thirtiary-color); 
    border-radius: 64px; 
    padding: 3rem 2rem; 
    margin-bottom: 2rem; 
}

.card-container h2{
    font-size: 1.88rem; 
    font-family: var(--font-poppins); 
    margin-bottom: 3.94rem; 
}

.star-container{
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
}
.rating{
    font-family: var(--font-roboto); 
    font-size: 1.25rem; 
    font-weight: light; 
    margin-bottom: 3.13rem; 
}

.location-container{
    display: flex; 
    align-items: center; 
    font-size: 1.56rem; 
    gap: 2.69rem; 
    margin-bottom: 3.38rem; 
    font-family: var(--font-roboto); 
}
.location-container img{
    height: 48px; 
    width: 48px; 
}

.more-info{
    display: flex; 
    align-items: center; 
    gap: 1.34rem; 
    font-family: var(--font-roboto); 
}
.more-info p{
    font-size: 1.56rem;
    font-family: var(--font-roboto); 
}
.more-info img{
    height: 42px; 
    width: 42px; 
}
.left-info, .right-info{
    display: flex; 
    align-items: center;  
}

.card-container .btn-container{
    margin-top: 3.72rem; 
    align-self: center; 
}

.card-container button{
    background-color: var(--thirtiary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 2.38rem; 
    color: var(--secondary-color); 
    font-family: var(--font-pacifico); 
    width: 20.25rem; 
    height: 6.13rem; 
    border-radius: 54px; 
}
/* end of top five */


/* review section */
#review h1{
    margin-left: var(--margin); 
    margin-right: var(--margin);
    margin-bottom:2.94rem; 
}
.reviews{
    display: grid; 
    gap: 2%; 
    grid-template-columns: 49% 49%; 
    margin-left: var(--margin); 
    margin-right: var(--margin);
    color: white; 
}

.delivery-name{
    font-size: var(--heading-two); 
    font-family: var(--font-poppins); 
    text-transform: uppercase; 
    margin-bottom: 1.8125rem; 
}

.image-and-name{
    display: flex; 
    gap: 1.63rem; 
    margin-bottom: 2.44rem; 
}

.image-and-name .hana{
    height: 8.94rem; 
    width: 8.94rem; 
}
.name{
    display: flex; 
    gap: 0.69rem; 
    flex-direction: column; 
    text-transform: uppercase; 
    font-family: var(--font-poppins); 
}

.review-card p{
    font-size: 1.25rem; 
    font-family: var(--font-roboto); 
    font-weight: extra-light; 
    text-transform: uppercase; 
}
/* end of review section */

/* footer section */
footer{
    background-color: var(--thirtiary-color); 
    padding-top: 2.44rem; 
    margin-top: 2rem; 
    padding-bottom: 0.1rem; 
}

.footer-container{
    display: flex; 
    justify-content: space-between; 
    margin-left: var(--margin); 
    margin-right: var(--margin);
    margin-bottom: 5.2rem; 
}

.footer-container .first-heading{
    font-family: var(--font-pacifico); 
    font-size: var(--heading); 
    color: var(--secondary-color); 
    font-weight: 100; 
}

.menu h1{
    color: white; 
    font-family: var(--font-poppins); 
    font-weight: 400; 
    margin-bottom: 0.92rem; 
}
.menu ul{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    font-size: 1.25rem; 
}

li{
    margin-bottom: 1.63rem; 
}
li a{
    text-decoration: none; 
    color: white; 
    font-family: var(--font-roboto); 
    transition: 0.5s ease; 
}
li a:hover{
    color: var(--secondary-color); 
}

.get-involved{
    display: flex; 
    flex-direction: column; 
    gap: 1.99rem; 
    color: white; 
}
.get-involved h1{
    font-family: var(--font-poppins); 
    font-weight: normal; 
    /* margin-bottom: 2.63rem;  */
}
.get-involved p{
    font-family: var(--font-roboto); 
    font-size: 1.13rem; 
    max-width: 250px; 
}
.submit{
    background-color: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 1.13rem; 
    color: white; 
    font-family: var(--font-pacifico); 
    width: 250px; 
    height: 76.89px;  
    border-radius: 54px; 
}
.socials a{
    margin-left: 1.94rem; 
    width: 2.88rem; 
    height: 2.88rem; 
}
.copyright{
    color: white; 
    text-align: center; 
    font-family: var(--font-roboto); 
    opacity: 70%; 
    margin-bottom: 3.6rem; 
}
span{
    font-family: var(--font-pacifico); 
    color: var(--secondary-color); 
}
