@import '../base/reset.css';
@import '../base/variable.css'; 
@import '../layout/header.css'; 

/* button and heading one */
.btn-container {
    margin-right: var(--margin);
    margin-left: var(--margin); 
    margin-top: var(--margin-top); 
}
.search-container{
    display: flex; 
    /* background-color: var(--secondary-color);  */
    font-family: var(--font-poppins); 
    font-weight: bold; 
    text-transform: capitalize; 
    height: 6.6875rem; 
}
.btn{
    border: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    color: white;
    font-size: var(--heading-two); 
}
.first-btn{
    background-color: var(--secondary-color);
    width: 33.3%; 
    border-radius: 78px 0 0 78px;  
}
.middle-btn{
    background-color: white; 
    width: 33.3%;
    color: var(--secondary-color);  
}
.last-btn{
    display: flex; 
    align-items: center; 
    background-color: var(--secondary-color);
    width: 33.3%;
    border-radius: 0 78px 78px 0; 
    position: relative; 
}

.search-icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    right: 1.5625rem; 

    width: 4.1875rem; 
    height: 4.1875rem;
    border: 5px solid white; 
    border-radius: 50%;  
}

.heading-one{
    font-size: var(--heading); 
    color: white; 
    font-family: var(--font-poppins); 
    margin-bottom: var(--margin-top); 
}
/* end of button and heading one */


/* hero section */
.hero-container{
    margin-left: var(--margin); 
    margin-right: var(--margin); 
    display: flex; 
    gap: 4.81rem; 
    margin-top: 2rem;  
    margin-bottom: 2rem; 
}
.hero-container img{
    max-width: 100%;  
    height: auto; 
}
.hero-container h1{
    margin: 0; 
}
.hero-container p{
    font-size: var(--heading-two); 
    font-family: var(--font-roboto); 
    font-weigh: light; 
}

.hero-container .btn-container{
    align-self: center; 
    margin: 0; 
}
.hero-container button{
    background-color: var(--thirtiary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 2.38rem; 
    color: var(--secondary-color); 
    font-family: var(--font-pacifico); 
    width: 20.25rem; 
    height: 6.13rem; 
    border-radius: 54px; 
}
.content-container{
    display: flex;
    flex-direction: column; 
    color: white;  
    align-items:flex-start; 
    gap: 2.2rem; 
}
/* end of hero section */

/* break line */
.break-line{
    margin-right: var(--margin);
    margin-left: var(--margin); 
    margin-top: var(--margin-top); 
    background-color: white;  
    height: 0.19rem; 
    margin-bottom: 2rem; 
}

/* heading */
.header{
    margin-left: var(--margin); 
}
/* top 5 section */
.top-five-container{
    display: grid; 
    gap: 1rem;
    grid-template-columns: 33.33% 33.33% 33.33%; 
    margin-right: var(--margin);
    margin-left: var(--margin);
}
#top-5 h1{
    margin-left: var(--margin); 
}
.card-container{
    display: flex; 
    flex-direction: column; 
    color: white; 
    background-color: var(--thirtiary-color); 
    border-radius: 64px; 
    padding: 3rem 2rem; 
    margin-bottom: 2rem; 
}

.card-container h2{
    font-size: 1.88rem; 
    font-family: var(--font-poppins); 
    margin-bottom: 3.94rem; 
}

.star-container{
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
}
.rating{
    font-family: var(--font-roboto); 
    font-size: 1.25rem; 
    font-weight: light; 
    margin-bottom: 3.13rem; 
}

.location-container{
    display: flex; 
    align-items: center; 
    font-size: 1.56rem; 
    gap: 2.69rem; 
    margin-bottom: 3.38rem; 
    font-family: var(--font-roboto); 
}
.location-container img{
    height: 48px; 
    width: 48px; 
}

.more-info{
    display: flex; 
    align-items: center; 
    gap: 1.34rem; 
    font-family: var(--font-roboto); 
}
.more-info p{
    font-size: 1.56rem;
    font-family: var(--font-roboto); 
}
.more-info img{
    height: 42px; 
    width: 42px; 
}
.left-info, .right-info{
    display: flex; 
    align-items: center;  
}

.card-container .btn-container{
    margin-top: 3.72rem; 
    align-self: center; 
}

.card-container button{
    background-color: var(--thirtiary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 2.38rem; 
    color: var(--secondary-color); 
    font-family: var(--font-pacifico); 
    width: 20.25rem; 
    height: 6.13rem; 
    border-radius: 54px; 
}
/* end of top five */


/* review section */
#review h1{
    margin-left: var(--margin); 
    margin-right: var(--margin);
    margin-bottom:2.94rem; 
}
.reviews{
    display: grid; 
    gap: 2%; 
    grid-template-columns: 49% 49%; 
    margin-left: var(--margin); 
    margin-right: var(--margin);
    color: white; 
}

.delivery-name{
    font-size: var(--heading-two); 
    font-family: var(--font-poppins); 
    text-transform: uppercase; 
    margin-bottom: 1.8125rem; 
}

.image-and-name{
    display: flex; 
    gap: 1.63rem; 
    margin-bottom: 2.44rem; 
}

.image-and-name .hana{
    height: 8.94rem; 
    width: 8.94rem; 
}
.name{
    display: flex; 
    gap: 0.69rem; 
    flex-direction: column; 
    text-transform: uppercase; 
    font-family: var(--font-poppins); 
}

.review-card p{
    font-size: 1.25rem; 
    font-family: var(--font-roboto); 
    font-weight: extra-light; 
    text-transform: uppercase; 
}
/* end of review section */

