/* Hero Section */
.discover {
    width: 100%;
    min-height: 503px;
    background-color: #000538;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xl);
    margin: 0 auto;
}

.discover-content {
    width: 50%;
    color: var(--secondary-color);
}

.discover-title {
    color: var(--secondary-color);
    font-family: var(--font-heading);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: var(--spacing-lg);
}

.discover-description {
    color: var(--secondary-color);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: var(--spacing-xl);
    max-width: 568px;
    letter-spacing: 5%;
}

.discover-buttons {
    display: flex;
    gap: var(--spacing-md);
}

.btn-explore {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius-btn);
    padding: 12px 32px;
    font-family: var(--font-logo);
    font-size: 38px;
    font-weight: 500;
    cursor: pointer;
    width: 284.8px;
    height: 78px;
}

.btn-rate {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: var(--border-radius-btn);
    padding: 12px 32px;
    font-family: var(--font-logo);
    font-size: 38px;
    cursor: pointer;
    width: 284.8px;
    height: 78px;
}

.discover-image {
    width: 50%;
    text-align: center;
}

.hero-img {
    max-width: 100%;
    border-radius: 44px;
}
  /*features section*/
.features {
    background-color: #000538;
    padding: 60px 0;
    margin:58px auto;
}

.features-grid {
    display: grid;
    grid-template-columns: 375px 450px 375px;
    gap: 31px;
     

}

.feature-card {
    background: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 100px;
    padding: 40px 30px;
    text-align: center;
}
.feature-card:nth-child(1),
.feature-card:nth-child(3) {
    height: 572px;
    transform: translateY(58px);
}
.feature-card:nth-child(2) {
    height: 706px;
    background-color: #252953;
    border-width: 4px;
}
.feature-card h3 {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.feature-card p {
    color: var(--background-color);
    font-size: 25px;
    line-height: 1.6;
    margin: 54px 64px;
    letter-spacing: 5%;
}
.card-1 , .card-3{
    margin:67px 22px;
}
.card-2 {
    margin: 85px 175px;
}
 
/* Buisness grid*/
.businesses-grid {
  display: grid;
  grid-template-columns: repeat(4, 306px); 
  gap: 10px;
  justify-content: center; 
}

.business-card {
  height: 427px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#252953;
  border-radius: 24px;
  margin:5px;
  color:var(--background-color) ;
  border-bottom:1px solid var(--accent-color);
  font-family: var(--font-heading);
  align-items: center;
}
.businesses-grid > :nth-child(5) {
  grid-column: 2 / 3; 
}

.businesses-grid > :nth-child(6) {
  grid-column: 3 / 4; 
}
.featured-businesses >h2{
    color:var(--background-color);
    font-size: 40px ;
    margin:100px auto 75px 10px;
}
.business-name{
    margin-top:170px;
}
.see-more-btn{
    margin-top: 12px;
    margin-bottom: 12px;
    border: 2px solid var(--accent-color);
    border-radius: 54px;
    padding: 8px 78px;
    color:var(--accent-color);
    font-family: var(--font-logo);
}

/* footer section */
 footer{
    background-color: #252953;
    margin-top: 210px;
    height: 485px;
    display: flex;
    justify-content: space-between;
    color:var(--background-color);
    padding:58px 58px;
 }

 .navbar-list > h2 , .get-involved > h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: var(--font-heading);
 }
 
 .navbar-list{
    font-family: var(--font-heading);
    font-size: 20px;

 }
 .navbar-list > ul{
  display: flex;
  flex-direction: column; 
  gap: 50px;              
 }
 .get-involved > p {
    margin-top: 50px;
    font-family: var(--font-primary);
    font-size: 18px;
 }
 .get-Involved-btn{
    margin-top: 50px;
    color: var(--background-color);
    background-color: var(--accent-color);
    font-size: 18px;
    font-family: var(--font-logo);
    width: 253px;
    height: 77px;
    border-radius: 54px;
 }
 hr{
    height: 3px;
    background-color: var(--background-color);
    margin: 58px;
    
 }
 