.submit-review-container {
    display: flex;
    gap: 40px;
    padding: 60px 5%;
    max-width: var(--container-width);
    margin: 0 auto;
}

.submit-form-area {
    flex: 1;
    background-color: var(--secondary-bg);
    padding: 40px;
    border-radius: 20px;
}

.recent-reviews-area {
    flex: 1;
    background-color: var(--secondary-bg);
    padding: 40px;
    border-radius: 20px;
    max-height: 800px;
    overflow-y: auto;
}

.place-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.place-info img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.rating-select {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    color: var(--text-grey);
    margin: 20px 0;
    cursor: pointer;
}

.rating-select i:hover, .rating-select i.active {
    color: var(--accent-green);
}