<footer>
        <div class="footer-container">
            <div class="footer-col">
                <span class="script-font text-green logo-large">Gebeta</span>
            </div>
            
            <div class="footer-col">
                <h4>Gebeta</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#Reviews">Reviews</a></li>
                    <li><a href="#Delivery">Delivery</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Get Involved</h4>
                <p class="small-text">Submit Your Details And Get Featured On Our Platform.</p>
                <a href="#business-sec"><button class="footer-btn script-font">Submit Application</button>
            </div></a>

            <div class="footer-col social-col">
                <a href="#"><i class="fa-brands fa-twitter"></i></a> <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 <span class="script-font text-green">Gebeta</span> — Built by Students, for Students.</p>
        </div>
</footer>