<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gebeta - Menu</title>
    <link rel="stylesheet" href="../assets/css/base/reset.css">
    <link rel="stylesheet" href="../assets/css/base/variables.css">
    <link rel="stylesheet" href="../assets/css/pages/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;800&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
     <!-- Navigation Menu -->
    <header>
        <nav class="navbar">
            <div class="nav-brand">
                <h2>Gebeta</h2>
            </div>
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="reviews.html" class="nav-link">Reviews</a></li>
                <li><a href="delivery.html" class="nav-link">Delivery</a></li>
                <li><a href="about.html" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main section of menu region-->
<main>
    <section class="menu">
        <div class="big-flex">
            <!-- First Big Div -->
            <div class="left-section">
                <img src="../images/beyeyanet-big-image.png" alt="beyaynet" class="main-food-img">
            </div>
            
            <!-- Second Big Div -->
            <div class="right-section">
                <!-- Multiple divs inside second big div -->
                <div class="food-title">
                    <h1>BEYAYNET</h1>
                </div>
                
                <div class="photos-section">
                    <h2>PHOTOS</h2>
                    <div class="grid-img">
                        <img src="../images/beyayenet-1.png" alt="1">
                        <img src="../images/beyayenet-2.png" alt="2">
                        <img src="../images/beyayenet-3.png" alt="3">
                        <img src="../images/beyayenet-4.png" alt="4">
                    </div>
                </div>
                
                <div class="reviews-section">
                    <h2>Reviews</h2>
                    <div class="review-item">
                        <img src="../images/p.png" alt="5">
                        <p>Selam Tadesse <br>6K AAU</p>
                    </div>
                </div>
                
                <div class="review-text">
                    <p>"I ordered the beyaynet, and honestly it was one of the best meals I've had in a while."</p>
                </div>
            </div>
        </div>
    </section>
</main>
  
    <!--Footer section-->
<footer>
    <div class="nav-brand">
        <h2>Gebeta</h2>
    </div>
    <div class="navbar-list">
        <h2>Gebeta</h2>
        <ul>
          <a href="./index.html"><li>Home</li></a>
          <a href="./reviews.html"><li>reviews</li></a> 
          <a href="./delivery.html"><li>delivery</li></a>
          <a href="./about.html"><li>contact</li></a>
        </ul>
    </div>
    <div class="get-involved">
        <h2>Get Involved</h2>
        <p>Submit your details and get <br> <br>featured on our platform.</p>
        <button class="get-Involved-btn">Submit application</button>
    </div>
    <div class="icons">
        <img src="../images/twitter.png" alt="twitter-icon">
        <img src="../images/facebook.png" alt="face-book-icon">
        <img src="../images/telegram.png" alt="telegram-icon">
        <img src="../images/instagram.png" alt="instagram-icon">
    </div>

</footer>
</body>
</html>