 <!-- nav section -->
    <section id="nav-bar">
      <nav class="nav">
        <!-- container div -->
        <div class="nav-container">
          <!-- logo -->
          <div class="logo-div">
            <span>Gebeta</span>
          </div>
          <!-- menu div -->
          <div class="menu-div">
            <a href="./index.html" class="menu-list">Home</a>
            <a href="./reviews.html" class="menu-list">Reviews</a>
            <a href="./delivery.html" class="menu-list">Delivery</a>
            <a href="./about.html" class="menu-list">About</a>
          </div>

          <!--Hamburger Button -->
          <!-- @todo add javascript to make it interactive -->
          <div class="hamburger-container">
            <button class="hamburger">
              <span class="hamburger-top"></span>
              <span class="hamburger-middle"></span>
              <span class="hamburger-bottom"></span>
            </button>
          </div>
        </div>
      </nav>
    </section>