.btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: var(--border-radius-btn);
    font-family: var(--font-script);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    width: 250px;
}

.btn-primary {
    background-color: var(--accent-green);
    color: var(--text-white); 
    border: 2px solid var(--accent-green);
}

.btn-primary:hover {
    background-color: #32e00e;
    transform: scale(1.05);
}

.btn-outline {
    background-color: transparent;
    color: var(--accent-green);
    border: 2px solid var(--accent-green);
}

.btn-outline:hover {
    background-color: var(--accent-green);
    color: var(--secondary-bg);
}
