#review h1{
    margin-left: var(--margin); 
    margin-right: var(--margin);
    margin-bottom:2.94rem; 
}
.reviews{
    display: grid; 
    gap: 2%; 
    grid-template-columns: 49% 49%; 
    margin-left: var(--margin); 
    margin-right: var(--margin);
    color: white; 
}

.delivery-name{
    font-size: var(--heading-two); 
    font-family: var(--font-poppins); 
    text-transform: uppercase; 
    margin-bottom: 1.8125rem; 
}

.image-and-name{
    display: flex; 
    gap: 1.63rem; 
    margin-bottom: 2.44rem; 
}

.image-and-name .hana{
    height: 8.94rem; 
    width: 8.94rem; 
}
.name{
    display: flex; 
    gap: 0.69rem; 
    flex-direction: column; 
    text-transform: uppercase; 
    font-family: var(--font-poppins); 
}

.review-card p{
    font-size: 1.25rem; 
    font-family: var(--font-roboto); 
    font-weight: extra-light; 
    text-transform: uppercase; 
}
/* end of review section */