
/* --- Footer --- */
footer {
    background-color: var(--secondary-bg);
    padding: 60px 5% 20px 5%;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.logo-large {
     font-size: 2rem;
}

.footer-col ul li { 
    margin-bottom: 10px; 
}
.footer-col ul li a { 
    color: var(--text-grey); 
    text-transform: lowercase; 
}

.small-text {
    font-size: 0.8rem;
    color: var(--text-grey);
    margin-bottom: 15px;
    max-width: 200px;
}

.footer-btn {
    background-color: var(--accent-green);
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.social-col { display: flex; gap: 15px; align-items: flex-start; }
.social-col i { font-size: 1.5rem; }

.copyright {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 20px;
    color: #666;
    font-size: 0.75rem;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
    

    .footer-container { 
        flex-direction: column;
     }
    
}
